* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}
body {
  height: 100%;
  width: 100%;
  background: #000;
  overflow-x: hidden;
}
nav {
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 5px 50px;
  overflow: hidden;
}
nav .menu {
  background: #000;
  padding: 10px;
  color: white;
  font-weight: bolder;
}
nav .brand {
  font-weight: bolder;
  display: flex;
  align-items: center;
}
.lt,
.gt {
  font-size: 50px;
  text-shadow: 1px 10px 10px rgba(152, 152, 152, 0.557);
}
